// Variables.
@import 'variables';


div.SpinnerWidget {
	padding: 20px 0;

	> div.spinner {
		position: relative;
		height: 100px;
	}

	> p.text {
		text-align: center;
		font-size: 2rem;
		color: $color-orange;
	}
}
