// Variables.
@import 'variables';


div.TestShareWidget {
	padding: 20px 0;

	text-align: center;

	> p.text {
		text-align: center;
		font-size: 2rem;
		color: $color-orange;
	}

	> a.link {
		font-size: 1.8rem;
		color: #0180d9;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
