// Variables.
@import 'variables';


div.TestInfoWidget {
	> .table {
		display: table;
		width: 25%;
		min-width: 400px;
		margin: 0 auto;
		border-collapse: collapse;
		@include box-shadow(0px 3px 15px 0px rgba(#000,0.5));
		overflow: visible;
		font-size: 0.9em;

		> .row {
			display: table-row;
			line-height: 1.5em;

			> .cell {
				display: table-cell;
				padding: 1px 10px;
				border: 1px solid #EEE;

				&.field {
					width: 30%;
				}

				&.value {
					width: 70%;
					color: $color-orange;
					text-align: center;
				}
			}
		}
	}
}
