.ui-dialog{
		> #settingsDialog{
			padding:10px;
			
			> ul{
				list-style:none;
				
				> li{
					width:100%;
					float:left;
					margin-bottom:20px;
					
					>h3{
						margin:0;
					}
					
					>p{
						margin-top:0;
						
						>input{
							width:25%;
						}
					}
					
					>h3, p{
						display:inline;
					}
					
					>.ui-slider{
						margin-top:10px;
					}
				}
			}
		} // #settingsDialog
	}
	