.ui-dialog{

		> .ui-dialog-titlebar {
			> .ui-dialog-title{
				padding:5px;
			}
			
			.ui-dialog-titlebar-close
				> .ui-button-text{
					display:none;
				}
		}
		
		.ui-button{
				padding: 8px 4px;
		}
			
		> .SettingsWidget{
			padding:10px;
			
			> ul{
				list-style:none;
				margin:0;
				
				> li:last-child{
						border:none;
				}
				
				> li{
					width:100%;
					float:left;
					margin-bottom:15px;
					padding-bottom:15px;
					border-bottom:1px solid #c8d8f3;
					
					>h3{
						margin:0 10px 0 0;
						
						> .helpNote{
							padding:0 8px;
							@include border-radius(6px);
							color:#fff;
							background-color:#9bb7e9;
							cursor:help;
							margin:0 5px 0 0;
							font-weight:bold;
						}
					}
					
					>p{
						margin-top:0;
						
						>input{
							width:25%;
						}
					}
					
					>h3, p{
						display:inline;
					}
					
					>.ui-slider{
						margin-top:10px;
					}
					
					 > .ui-slider{
						background:#9bb7e9; 
						margin:5px 10px 0;
						
						> a{
							top:-4px;
							cursor:ew-resize;
						}
					 }
				}
			}
		} // #SettingsWidget
		
		> .ui-dialog-buttonpane{
			margin:0;
		}
	}
	