.ui-dialog{
		> .SettingsWidget{
			padding:10px;
			
			> ul{
				list-style:none;
				margin:0;
				
				> li{
					width:100%;
					float:left;
					margin-bottom:20px;
					
					>h3{
						margin:0;
					}
					
					>p{
						margin-top:0;
						
						>input{
							width:25%;
						}
					}
					
					>h3, p{
						display:inline;
					}
					
					>.ui-slider{
						margin-top:10px;
					}
					
					 > .ui-slider{
						background:#9bb7e9; 
						margin:5px 10px 0;
						
						> a{
							top:-4px;
							cursor:ew-resize;
						}
					 }
				}
			}
		} // #settingsDialog
	}
	